{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a href="{% url 'index' %}" class="navbar-brand">Loja de Carros</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link">Início</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Carros</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link">Anunciar Seu Carro</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline" role="search">
                <input class="form-control small-search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>